.content {
  font-family: 'Inconsolata', serif;
}

.padded {
  margin: 15px 20px 5px;
}

.padded-top {
  margin-top: 20px;
}

.form {
  font-size: large;
  margin-bottom: 30px;
}

/* .item-code-input {
  background-color: #ccffcc;
} */
