.content {
  font-family: 'Inconsolata', serif;
}

.padded {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.padded-top {
  margin-top: 20px;
}

.form {
  font-size: large;
  margin-bottom: 30px;
}

/* .item-code-input {
  background-color: #ccffcc;
} */
