<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Fonts -->
  <title>Eat your snacks!</title>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <link rel="icon" href="/assets/images/rosie.png">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2> Maidbot Snacktracker </h2>
      </div>
    </div>
    <div class="row form">
      <div class="col-xs-12 col-md-4">
        <form method="POST" action="/consume_snacks">
          <div class="form-group">
            <label for="item_code">Code From Scanner</label>
            <input
              type="text"
              id="item_code"
              name="item_code"
              value={{.ItemCode}}
              disabled
              class="form-control"
              />
          </div>

          <div class="form-group">
            <label for="item_name">Snack Name</label>
            <input class="form-control" id="item_name" type="text" name="item_name" value={{.ItemName}} disabled/>
          </div>

          <div class="form-group">
            <label for="remaining_quantity">Quantity Remaining</label>
            <input id="remaining_quantity" type="text" name="remaining_quantity" class="form-control" value={{.RemainingQuantity}} disabled>
          </div>
        </form>

        <div class="padded">
          <button type="button" onclick="putItBack()" class="btn btn-warning">Oops. Put it Back.</button>
        </div>

        <div class="padded">
          <form action="/add_snack_inventory" class="transition-button">
            <input type="submit" class="btn btn-primary" value="Add Snacks To Inventory" />
          </form>
        </div>

        <div class="padded snarky-message form">
          {{.Message}}
        </div>
      </div>


    </div>
  </div>

  <script type="text/javascript">
    function putItBack() {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("POST", "/inventory_change/undo", false); // false for synchronous request
      xmlHttp.send(null);
    }

    function getStateTrackerState() {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/state", false); // false for synchronous request
      xmlHttp.send(null);
      return JSON.parse(xmlHttp.responseText);
    }

    function refreshDiv() { //make sure braces are on the same line as the block statement, it's a good convention in JS
      var state = getStateTrackerState();

      document.getElementById("item_code").innerHTML = "<input type=\"text\" name=\"item_code\" value=\"" + state.item_code + "\" disabled><br />";
      document.getElementById("item_name").innerHTML = "<input type=\"text\" name=\"item_name\" value=\"" + state.item_name + "\" disabled><br />";
      document.getElementById("remaining_quantity").innerHTML = "<input type=\"text\" name=\"remaining_quantity\" value=\"" + state.remaining_quantity + "\" disabled><br />";
    }

    window.setInterval(refreshDiv, 500);
  </script>

</body>

</html>
