<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- Fonts -->
  <title>Maidbot Snack Tracker</title>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <link rel="icon" href="/assets/images/rosie.png">
</head>
<body>
  <div class="container">
    <div class="row padded">
      <div class="col-sm-12">
        <h2> Welcome to the Snack Tracker! </h2>
      </div>
      <div class="col-sm-12">
        <a class="btn btn-primary" href="/consume_snacks">
          Consume Snacks
        </a>
          <a class="btn btn-primary" href="/add_snack_inventory">Add Snacks To Inventory</a>
      </div>
    </div>
  </div>
</body>
</html>
