<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <link rel="icon" href="/assets/images/rosie.png">
</head>
<body>

<div class="content">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <h2> Robot Software Status </h2>
      <form method="POST" action="/robot_status">
    		<label>Robot Name</label><br />
    		<input type="text" name="robot_name"><br />
    		<input type="submit">
    	</form>
      {{if .RobotStatusReady}}
      <h3> {{.RobotStatus.Title}} </h3>
      <h4> Commit: {{.Robot.Commit}} </h4>
      <h4> Online as of: {{.Robot.LastConnected}} </h4>
      <h4> Status: {{.Robot.Status}} </h4>
      <ul>
          {{range .RobotStatus.Commits}}
            <li>{{.Sha}} at {{.Commit.Author.UtcDateTime}} by {{.Commit.Author.Name}}</li>
            <ul>
              <li>{{.Commit.Message}}</li>
            </ul>
          {{end}}
      </ul>
      {{end}}
    </div>
    <div class="col-sm-4">
      <h2> Application Software Status </h2>
      <form method="POST" action="/app_status">
    		<label>Application Name</label><br />
    		<input type="text" name="app_name"><br />
    		<input type="submit">
    	</form>
      {{if .ApplicationStatusReady}}
        <h3> {{.ApplicationStatus.Title}} </h3>
        <ul>
            {{range .ApplicationStatus.Commits}}
              <li>{{.Sha}} at {{.Commit.Author.UtcDateTime}} by {{.Commit.Author.Name}}</li>
              <ul>
                <li>{{.Commit.Message}}</li>
              </ul>
            {{end}}
        </ul>
      {{end}}
    </div>
    <div class="col-sm-3">
      <h2> Robots In Application </h2>
      {{if .ApplicationStatusReady}}
        <h3> {{.Application.Name}} </h3>
        <ul>
            {{range .Application.Devices}}
              <li>{{.Name}}</li>
              <ul>
                <li> Commit: {{.Commit}} </li>
                <li> Online as of: {{.LastConnected}} </li>
                <li> Status: {{.Status}} </li>
              </ul>
            {{end}}
        </ul>
      {{end}}
    </div>
  </div>
</div>

</body>
</html>
